/*======== General CSS ===========*/
.dropbtn {
    background-color: rgb(110, 190, 228);
}

.dropdown a:hover {
    background-color: rgb(83, 255, 83);
}

.card {
    margin: 10px;
}

h5 { /* Highlights title text */
    background-color: red;
    text-align: center;
}

body { /* Changes background image to a selected image */
    background: #a8aca6;
    background-image: url("../img/ControllerBackground.jpg");
}

p {
    position: sticky;
    border: #000000;
  }


 .btn {
     transition: 0.5s;
 }

 .btn:hover {
     background: #000000;
 }