/*======== General CSS ===========*/

.dropdown a:hover {
    background-color: rgb(83, 255, 83);
}

.card { /* Helps distinguish the cards from one another so that they don't blend together. */
    margin: 10px;
}

h5 { /* Highlights title text */
    background-color: red;
    text-align: center;
}

body { /* Changes background image to a selected image */
    background: #a8aca6;
    background-image: url("../img/ControllerBackground.jpg");
}

 .btn {
     transition: 0.5s;
 }

 .btn:hover {
     background: #000000;
 }

 p { /* Added a border so content is easier to see and read.  This also helps break it down into manageable parts */
     border: 5px solid lightseagreen;
     padding: 5px
 }