body {
    background: #4c962a;
}

head {
    background: #000000;
}

title{ 
    background: #000000
}

p {
    border: 1px solid powderblue;
    margin: 50px;
  }

/*====== Media Queries =======*/
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

  @media (min-width: 700px) {
    
  }
