/*======== General CSS ===========*/
.header {
    background-color: aqua;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.card {
    background-color: chartreuse;
    width: 29%;
    height: 300px;
}

.box {
    padding: 30px
        
}

body {
    background-image: image("ControllerBackground.jpg")
}

head {
    background: #000000;
}

title{ 
    background: #000000
}

p {
    position: sticky;
    border: #000000;
  }

  .img{
    width:300px;
    height:200px;
 
 /*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
     object-fit:scale-down;
  }

/*====== Media Queries =======*/
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

@media (min-width: 700px) {
    
}
