/*======== General CSS ===========*/

body {
    background: #a8aca6;
}

head {
    background: #000000;
}

title{ 
    background: #000000
}

p {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }

/*====== Media Queries =======*/
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

@media (min-width: 700px) {
    
  }
